.hover-table tbody tr:hover {
    cursor: pointer;
}


.leadcard:hover {
    cursor: pointer;
}

#rdp-form-control-example-datepicker {
    width: 1% !important;
}

.top-link {
    margin-right: 30px;
    color: white;
}

.top-link-black {
    margin-right: 30px;
    color: #222222;
}

.backgroundmain {
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-top {
    margin-top: -20rem;
    margin-left: 5rem;
    font-size: 20px;
    width: 30%;
    position: absolute; 
}

.bg-black {
    background-color:black;
}

.main-heading {
    font-size: 50px;
    color: #9e79ff;
    font-weight: 500;
    letter-spacing: 4px;
}

.select-top-right {
    text-align: right;
    float: right;
    width: 25%;
    margin-right: 20px;
}

